body {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  height: 100%;
  /* margin: auto; */

}
h3 {
  margin: 0;
  text-align: center;
  color: hsl(218, 44%, 22%);
  font-family: 'Fredoka One', cursive;

}
p {
  text-align: center;
  color: hsl(220, 15%, 55%);
  font-family: 'Noto Sans', sans-serif;
  font-size: 13px;

}
.main_nain_card {
  background-color: hsl(212, 45%, 89%);
  width: 80%;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 150px;
  margin-bottom: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.main_card {
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: fit-content;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.main_card > div {
  padding: 20px;
}

.main_card > div > img {
  border-radius: 20px;
  width: 100%;
}
.content {
  align-items: center;
  align-content: center;
}
